<div class="main">
  <header class="header">
    <ul class="menu" #menu>
      <li class="menu__item">
        <a class="menu__link">Home</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">Acerca</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">Equipo</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">Beneficios</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">Testimonios</a>
      </li>
    </ul>
     </header>
  
  <section class="first-section">
    <div class="info">
      <h1 class="heading-1">
        INMOBILIARIA GUAYAQUIL
      </h1>
      </div>
    </section>

      <div class="paragraph2">
      <p class="paragraph">
        Somos una empresa comprometida con hacer que la experiencia de compra, venta y alquiler de propiedades sea fácil, segura y satisfactoria. Desde nuestra fundación hemos ayudado a cientos de personas a encontrar el hogar de sus sueños y a alcanzar sus objetivos inmobiliarios, brindando soluciones personalizadas adaptadas a cada necesidad.
        Nuestra misión es ser un referente en el sector inmobiliario, ofreciendo soluciones que no solo se adapten a las necesidades de nuestros clientes, sino que también superen sus expectativas. Nos comprometemos a crear relaciones duraderas basadas en la confianza, proporcionando un servicio personalizado y de alta calidad. A través de la innovación, la transparencia y el enfoque en la satisfacción del cliente, buscamos contribuir al crecimiento y desarrollo del mercado inmobiliario local. 
      </p>
      </div>
    <div class="visuals">
      <div class="image-container">
        <img
          src="assets/imagen1.jpg"
         
        />
      </div>
      <div class="image-container">
        <img
          src="assets/imagen2.jpeg"
        />
      </div>
    </div>
 

  <section class="second-section" #secondSection>
    <h4 class="heading-4" id="about">Nuestro Equipo</h4>
    <h1 class="heading-2" id="buy">
      En Inmobiliaria Guayaquil contamos con un equipo de agentes inmobiliarios comprometidos que están dispuestos a ayudarte en cada etapa del proceso, desde la búsqueda inicial hasta la firma del contrato. Con un enfoque personalizado, nos aseguramos de que tus necesidades y deseos sean siempre nuestra prioridad. Te guiamos a lo largo de todo el proceso, ayudándote a encontrar las mejores opciones del mercado, negociando las mejores condiciones y asegurándonos de que cada detalle se ajuste a tus necesidades. Además, nuestra amplia experiencia en el sector inmobiliario nos permite ofrecerte información valiosa sobre el mercado local, las mejores zonas y oportunidades de inversión
    </h1>
    </section>

    <div class="info-1">
        <h2 class="heading-3">
          Beneficios
        </h2>
        </div>

        <div class="paragraph4">
        <p class="paragraph3">
          En Inmobiliaria Guayaquil, nos comprometemos a ofrecerte una experiencia única y exitosa en todo el proceso inmobiliario. Sabemos que comprar, vender o alquilar una propiedad puede ser un desafío, por eso nos aseguramos de acompañarte en cada paso, brindándote el apoyo y la asesoría que necesitas para tomar decisiones informadas y confiables. Nos enorgullece nuestra atención al detalle, transparencia en cada transacción y compromiso con la satisfacción del cliente. Ya sea que estés buscando tu hogar ideal, quieras vender tu propiedad o necesites alquilar, en Inmobiliaria Guayaquil estamos aquí para hacer realidad tus sueños inmobiliarios de manera ágil, segura y eficiente. 
        </p>
     </div>
      <div class="info-1__visual">
        <img class = "vis"
          src="assets/imagen3.jpg"
        />
      
    
        <img class = "vis"
          src="assets/imagen4.jpg"
        />
      </div>

      <div class="footer">
        <p>Full Developer © Todos los derechos reservados 2024</p>
      </div>
    <div>

</div>
